h1= title
p I am speaking to #{title}
script(type="text/javascript")
  socket.on('connect', function () {
    console.log("socket", socket);
  });
  
  $(function() {
    function clear () {
      $('#message').val('').focus();
    };
    
    $('#send-message').submit(function(ev){
        var msg = $('#message').val();
        //console.log("submit", msg);
        clear();
        socket.emit("user message", msg);
        return false; // why?
    })
  })  
form.wrap#send-message
  input#message  
  button Send
